{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulaio</title>

    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './js/jquery-3.3.1.js' %}">
    <link rel="stylesheet" href="{% static './js/popper.js' %}">
    <link rel="stylesheet" href="{% static './js/j.query.validate.js' %}">
    <link rel="stylesheet" href="{% static './js/app.js' %}">
    <link rel="stylesheet" href="{% static './css/formulario.css' %}">

</head>
<body>
        <div class="container">
                <div class="row">
                  <div class="col-sm">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                </ol>
                        </div>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100 center-crop" src="{% static './imagenes/eventossociales.jpg' %}" alt="First slide" width="200px"  >
                                    <div class="carousel-caption d-none d-md-block"></div>
                                </div>
                        </div>
                  </div>
                  <div class="col-sm">
                      <form action="crear_U" method="POST">
                      {% csrf_token %}
                        <form>
                          <div class="form-group">
                            <input type="text" name="username" id="text" class="form-control input-sm" placeholder="Nombre de Usuario" required>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Contraseña" required>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirme Contraseña" required>
                                </div>
                            </div>
                        </div>
                        
                        <input type="submit" value="Registrar" class="btn btn-info btn-block">
                    
                    </form>
                    </form>
                  </div>
                </div>
              </div>   
</body>
</html>



