{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>

    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './js/jquery-3.3.1.js' %}">
    <link rel="stylesheet" href="{% static './js/popper.js' %}">
    <link rel="stylesheet" href="{% static './js/j.query.validate.js' %}">
    <link rel="stylesheet" href="{% static './js/app.js' %}">
    <link rel="stylesheet" href="{% static './css/formulario.css' %}">

</head>
<body>
        <div class="container">
                <div class="row">
                  <div class="col-sm">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                </ol>
                        </div>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img class="d-block w-100 center-crop" src="{% static './imagenes/eventossociales.jpg' %}" alt="First slide" width="200px"  >
                                    <div class="carousel-caption d-none d-md-block"></div>
                                </div>
                        </div>
                  </div>
                  <div class="col-sm">
                      {% csrf_token %}
                        <form>
                                <div class="form-group" action="crear" name="form1" id="form1" method="POST">
                                    <h3  for="name">Nombre de Usuario</h3>
                                    <input style="text-align: center" type="text" class="form-control" name="username" required  placeholder="Ingrese su username " id="">   
                                    <br>
                                  <!--Nombre Completo-->
                                  <h3  for="name">Nombre Completo</h3>
                                  <input style="text-align: center" type="text" class="form-control" name="name" required  placeholder="Ingrese su nombre " id="">   
                                  <br>
                                  <label for="exampleInputEmail1">Correo Electronico</label>
                                  <input  style="text-align: center" type="email" class="form-control" name="email" required  placeholder="Ingrese su Email" id="">
                                  <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Contraseña</label>
                                  <input  style="text-align: center" type="password" class="form-control" name="password" required  placeholder="Ingrese Contraseña" id="pass1">
                                </div>
                                <a class="text-align:center" href="{% url 'login' %}">¿Ya posees cuenta? Ingresa</a>
                                <br>
                                <br>
                                <button type="submit" class="btn btn-outline-success btn-block" value="guardar"> Registrar</button>
                                
                              </form>
                  </div>
                </div>
              </div>   
</body>
</html>



