{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/login.css' %}">

</head>
<body>
  <form id="LoginForm"   method="POST"  action="{% url 'iniciar' %}">
    {% csrf_token %}
    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                            <div class="login-form">
                                    <div class="main-div">
                                            <div class="panel">
                                                    <h2>Login</h2>
                                                    <p>Ingresa con tu Username y Contraseña</p>
                                            </div>       
                                            <form id="Login">
                                                    <div class="form-group">
                                                            <label for="inputEmail"  class="sr-only">Username</label>
                                                            <input type="text" id="username" name="username" class="form-control" placeholder="Nombre de Usuario" required autofocus>
                                                    </div>
                                                    <div class="form-group">
                                                            <label for="inputPassword" class="sr-only">Contraseña</label>
                                                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                                                    </div>
                                                    <div class="forgot"  >
                                                            <a class="text-align:center" href="{% url 'formulario' %}">¿Aun no tienes cuenta? Registrate</a>  
                                                    </div>
                                                    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="valida()">Iniciar Sesión</button>
                                            </form>
                          

                                            
                                    </div>
                            </div>
                    </div>
            </div>
    </div> 
</form>

<script src="{% static './js/jquery-3.3.1.js' %}"></script>
<script src="{% static './js/popper.js' %}"></script>
<!-- <script src="{% static './js/j.query.validate.js' %}"></script> -->
<script src="{% static './js/app.js' %}"></script>
</body>
</html>