{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>

    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/flexboxgrid.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './js/jquery-3.3.1.js' %}">
    <link rel="stylesheet" href="{% static './js/popper.js' %}">
    <link rel="stylesheet" href="{% static './js/j.query.validate.js' %}">
    <link rel="stylesheet" href="{% static './js/app.js' %}">
    <link rel="stylesheet" href="{% static './css/login.css' %}">

</head>
<body>
  <form id="LoginForm"  method="POST" class="form-signin" action="{% url 'iniciar' %}">
    {% csrf_token %}
    <div class="container">
            <div class="row">
                    <div class="col-md-12">
                            <div class="login-form">
                                    <div class="main-div">
                                            <div class="panel">
                                                    <h2>Login</h2>
                                                    <p>Ingresa con tu Rut y Contraseña</p>
                                            </div>       
                                            <form id="Login">
                                                    <div class="form-group">
                                                            <label for="inputRut"  class="sr-only">Rut</label>
                                                            <input type="text" id="inputRut" name="rut" class="form-control" placeholder="Rut" required autofocus>
                                                    </div>
                                                    <div class="form-group">
                                                            <label for="inputPassword" class="sr-only">Contraseña</label>
                                                            <input type="password" name="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                                                    </div>
                                                    <div class="forgot"  >
                                                            <a class="text-align:center" href="{% url 'formulario' %}">¿Aun no tienes cuenta? Registrate</a>  
                                                    </div>
                                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                                            </form>
                          

                                            
                                    </div>
                            </div>
                    </div>
            </div>
    </div> 
</form>
</body>
</html>