{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Productos</title>

    <link rel="stylesheet" href="{% static './css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static './css/estilo.css' %}">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary plus-navbar">
      <a class="navbar-brand" ><img src="../static/imagenes/EVENT PLUS.png" height="70px" width="150px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'productos' %}">Eventos</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'calendario' %}">Calendario</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="{% url 'contacto' %}">Contacto</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item active">
                <a class="nav-link " href="{% url 'administrador' %}">Administrador</a>
              </li>
              {% endif %}
            <li>
                  {% if user.is_authenticated %}
                  <a class="nav-link "  href="{% url 'cerrar_session' %}">Cerrar sesion</a>
                  {% else %}
                  <a class="nav-link "  href="{% url 'formulario' %}">Registrate</a>  
                  <a class="nav-link "  href="{% url 'login' %}">Ingresar</a>
                  {% endif %}
           </li>
          </ul>
        </div>
      </nav>
      <br>    

      <!--Carta de productos--> 
      <div class="card text-white bg-info mb-3 carta" style="max-width: 18rem;">
          <div class="card-header">Coorportivos</div>
          <div class="card-body">
            
            <p class="card-text">Evento para empresas las cuales deseen contar con nuestros servicios.</p>
            <a href="#" class="btn btn-primary">Mas informacion</a>
          </div>
        </div>
        
        
        <footer class="footer" >

          <!-- Content -->
          <h5 class="text-uppercase">Plus Events</h5>
          <p>Nos enfocamos cada dia en entregar el mejor servicio.</p>
        <div class="footer-copyright text-center py-3">© 2019 </div>
        
        </footer>

<script src="{% static './js/jquery-3.3.1.js' %}"></script>
<script src="{% static './js/popper.js' %}"></script>
<!-- <script src="{% static './js/j.query.validate.js' %}"></script> -->
<script src="{% static './js/app.js' %}"></script>
</body>
</html>