/* Documento */
* {
	margin:0;
	padding:0;
}

body {
	background:#FFFFFA;
}

header {
	width:100%;
}
/* NAVBAR */
.plus-navbar{
  background-color: #9242f4 !important;
}
/* BARRA DE NAVEGACION */
.nav-link{
  float: right !important;
  font-size: 20px !important;
}
/* CARRUSEL*/
.center-crop{
  max-height: 848px;
  min-height: 565px;
  object-fit: initial;
}
/*SECTION DERECHA*/
section #web-right {
  height: auto;
  padding:50px;
}
/* SECTION DERECHA */
#web-right .col-md-12 {
float: right;
width: 40%;
padding:20px;
margin: 50px;
} 

/* SECTION IZQUIERDA */
section #web-left {
height: auto;
padding:50px;
}
/* SECTION IZQUIERDA */
#web-left .col-md-12 {
float: left;
width: 40%;
padding:20px;
margin: 50px;
} 

/*boton login*/
.btn-login{
position: -ms-page;
}