/* Documento */
* {
	margin:0;
	padding:0;
}

body{
  min-height: 100%;
  top: 0;
  margin:0;
  padding:0;
}


header {
	width:100%;
}
/* NAVBAR */
.plus-navbar{
  background-color: #9242f4 !important;
  align-content: right !important;
  position:  static !important;

}

/* BARRA DE NAVEGACION */
.nav-link{
  float: right !important;
  font-size: 18px !important;
}
/* CARRUSEL*/
.center-crop{
  max-height: 848px;
  min-height: 565px;
  object-fit: initial;
}


/*boton login*/
.btn-login{
position: -ms-page;
}

footer,
section#main,
body{
    width: 100%;
    position: absolute;
}

section#main{
    min-height: 100%;
}

footer{
    background-color: #ba68c8 !important;
    text-align: center;
    bottom: 0;
}

.carta {
  margin-left: 20px !important;
}

/* CONTACTO */
.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

